<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
      table, th, td {
        border:2px solid black;
      }
    </style>

    <title>Cadastro de Encomendas</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <button onclick="location.href = '/clients/';" class="btn btn-lg btn-primary btn-block" type="submit">Clientes</button>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <span class="navbar-brand mb-0 h1">Encomendas</span>
        </div>
        <span class="navbar-brand mb-0 h1">Malas</span>
        {% if user.is_superuser %}
          <button onclick="location.href = '/travels/';" class="btn btn-lg btn-primary btn-block" type="submit">Viagens</button>
        {% endif %}
        <span class="navbar-brand mb-0 h1">Contrato</span>
        <button onclick="location.href = '/accounts/logout/';" class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
      </div>
    </nav>
    <div class="container">
      <h1>Cadastro de Encomendas</h1>
        <table>
          <tr>
            <td>Id</td>
            <td>Viagem</td>
            <td>Remetente</td>
            <td>Nome</td>
            <td>Observação</td>
            <td>Preço Médio</td>
            <td>Peso Médio</td>
            <td>Tamanho aproximado</td>
            <td>Dados do Destinatário</td>
          </tr>
          {% for order in orders%}
          <tr>
            <td> {{ order.id }}</td>
            <td> {{ order.travel }}</td>
            <td> {{ order.id_sender }}</td>
            <td> {{ order.name }}</td>
            <td> {{ order.description }}</td>
            <td> {{ order.average_value }}</td>
            <td> {{ order.approximate_weight }}</td>
            <td> {{ order.approximate_size }}</td>
            <td> {{ order.recipient_data }}</td>
            <td>
              <form action="{% url 'delete_order' order.id %}" method="post">
                {% csrf_token %}
              <button class="btn btn-primary btn-sm" type="submit">Excluir</button>
            </form>
          </td>
        </tr>
        {% endfor %}
        </table>
        <br/><br/>

        <form action="{% url 'save_order' %}" method="post">
            {% csrf_token %}

            <div class="form-group mb-3">
              <label class="form-label">Viagem:</label>
              <select name="travel" class="form-select" aria-label="Default select example">
                {% for travel in travels %}
                <option value="{{ travel.id }}">{{ travel.departure_destination }}</option>
                {% endfor %}
              </select>
              </div>

            <div class="form-group mb-3">
              <label class="form-label">Remetente:</label>
              {{user.username}}
            </div>

            <div class="mb-3">
            <label for="InputEmail1" class="form-label">Nome:</label>
            <input name="name" type="text" class="form-control" />
            </div>

            <div class="form-group mb-3">
            <label class="form-label">Observação:</label>
            <input name="description" class="form-control" type="text" aria-label="default input example">
            </div>

            <div class="form-group mb-3">
            <label class="form-label">Preço Médio</label>
            <input name="average_value" type="text" class="form-control" />
            </div>

            <div class="form-group mb-3">
            <label class="form-label">Peso Médio:</label>
            <input name="approximate_weight" type="text" class="form-control" />
            </div>

            <div class="form-group mb-3">
            <label class="form-label">Tamanho aproximado:</label>
            <input name="approximate_size" type="text" class="form-control" />
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Dados do Destinatário:</label>
              <input name="recipient_data" class="form-control" type="text" aria-label="default input example">
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>