<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Cadastro de Clientes</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <span class="navbar-brand mb-0 h1">Clientes</span>
        </div>
        <span class="navbar-brand mb-0 h1">Encomendas</span>
        <span class="navbar-brand mb-0 h1">Malas</span>
        <span class="navbar-brand mb-0 h1">Viagens</span>
        <span class="navbar-brand mb-0 h1">Contrato</span>
      </div>
    </nav>
    <div class="container">
      <h1>Cadastro de Clientes</h1>
      
        <ul>
            {% for client in clients %}
                <li> {{ client.name }}</li>
            {% endfor %}
        </ul>


        <form action="{% url 'save' %}" method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
            <label class="form-label">Nome:</label>
            <input name="name" class="form-control" type="text" aria-label="default input example">
            </div>

            <div class="form-group mb-3">
            <label class="form-label">Celular:</label>
            <input name="mobile" type="text" class="form-control" data-inputmask="(99) 9 9999-9999" />
            </div>

            <div class="mb-3">
            <label for="InputEmail1" class="form-label">Email:</label>
            <input name="email" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Não compartilhe seu email com ninguém.</div>
            </div>

            <div class="form-group mb-3">
            <label class="form-label">CPF:</label>
            <input name="social_number" class="form-control" type="text" aria-label="default input example">
            </div>

            <div class="form-group mb-3">
            <label class="form-label">Data de Nascimento</label>
            <input name="birth_date" type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" />
            <small class="text-muted">e.g "DD/MM/YYYY"</small>
            </div>

            <div class="form-group mb-3">
            <label class="form-label">Genero:</label>
            <select name="gender" class="form-select" aria-label="Default select example">
                <option selected>Open this select menu</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
                <option value="O">Outros</option>
                <option value="N">Não Informar</option>
            </select>
            </div>

            <div class="form-group mb-3">
            <label class="form-label">Endereço:</label>
            <input name="address" class="form-control" type="text" aria-label="default input example">
            </div>

            <div class="form-group mb-3">
            <label class="form-label">Contato 1:</label>
            <input name="contact_1" class="form-control" type="text" aria-label="default input example">
            </div>

            <div class="form-group mb-3">
            <label class="form-label">Celular Contato 1:</label>
            <input name="contact_1_mobile" class="form-control" type="text" aria-label="default input example">
            </div>

            <div class="form-group mb-3">
            <label class="form-label">Contato 2:</label>
            <input name="contact_2" class="form-control" type="text" aria-label="default input example">
            </div>

            <div class="form-group mb-3">
            <label class="form-label">Celular Contato 2:</label>
            <input name="contact_2_mobile" class="form-control" type="text" aria-label="default input example">
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>

    </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>