{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Senhuk Turismo</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <img src="{% static 'logo.jpg' %}"></img>
        <form action="{% url 'clients' %}" method="post">
          {% csrf_token %}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Clientes</button>
        </form>
        <form action="{% url 'orders' %}" method="post">
          {% csrf_token %}
          <button class="btn btn-lg btn-primary btn-block" type="submit">Encomendas</button>
        </form>
        <span class="navbar-brand mb-0 h1">Malas</span>
        {% if user.is_superuser %}
          <form action="{% url 'travels' %}" method="post">
            {% csrf_token %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Viagens</button>
          </form>
          <span class="navbar-brand mb-0 h1">Contrato</span>
          </form>
        {% endif %}
        {% if user.is_authenticated %}
          <button onclick="location.href = '/accounts/logout/';" class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
        {% else %}
          <button onclick="location.href = '/accounts/login/';" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        {% endif %}
      </div>
    </nav>

    <div class="container">
      
      {% if user.is_authenticated %}

        <h1>Bem-Vindo {{ user.username }} ao Senhuk Turismo {{ user.email }}</h1>

      {% else %}
        <h1>Por favor, entre com seu login</h1>
      {% endif %}

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>